.main {
    height: 100%;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    overflow-y: auto;
    gap: 15rem;
}

.main .login_div {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 30rem;
}

.main .register_div {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    min-width: 470px;
    max-width: 30rem;
}

.main img {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.registerImage {
    height: 250px;
    width: auto;
}

.main h1 {
    color: #424242;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 30px 0;
}

.main form {
    min-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.main .row {
    display: flex;
    gap: 2rem;
}

.main .row div {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.main form label {
    color: #848484;
    font-weight: bold;
    font-size: 1rem;
}

.main form input,
select {
    padding: 8px 14px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #848484;
    background-color: inherit;
    color: #424242;

}

.main form option {
    color: #424242;
}

.main form button {
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    background-color: #89343B;
    color: #e6e6e6;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

.main form p {
    color: #424242;
    font-size: 18px;
    text-align: center;
}

.main form span {
    color: #4460F3;
    cursor: pointer;
}

.main .error {
    margin: 0;
    color: #ff0015;
    text-align: start;
    font-size: 0.75rem;
}

.main .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    margin-bottom: 0;
}

.main .pagination li {
    border-radius: 50%;
    background-color: #F0953B;
    padding: 0.05rem 0.20rem;
    font-size: 0.5rem;
    list-style: none;
    color: #F0953B;
    border: solid 2px #F0953B;
    cursor: pointer;
}

.main .pagination .active {
    background-color: white;
    border: solid 2px #F0953B;
    color: #ffffff;
}