.request {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.request .main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 50vw;
    width: auto;
}

.request .main header h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #424242;
}

.request .main header p {
    font-weight: 300;
    color: #424242;
}

.request .main header p span {
    color: #ff0000;
}

.request form {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;

}

.request form .inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.request form span {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: inherit;
}

.request form label {
    display: flex;
    font-size: 1rem;
    color: #424242;
    font-weight: 400;
}

.request form .inputText {
    min-height: 3rem;
    background-color: #F1F4F8;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.request select {
    min-height: 3rem;
    border: none;
    background-color: #F1F4F8;
    border-radius: 10px;
}

.request select:focus {
    border: none;
}

.request textarea {
    border: none;
    min-height: 6rem;
    background-color: #F1F4F8;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}


.request form .preferredDateTime {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.request form .preferredDateTime div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.request form .preferredDateTime div p {
    font-size: 0.8rem;
    font-weight: 300;
    color: #424242;
}


.request .fileUpload {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.request .fileUpload .fileArea {
    width: auto;
    border: solid 1px #848484;
    height: auto;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.request .fileUpload .fileArea p {
    cursor: pointer;
}

.request .fileUpload .fileArea p:hover {
    color: #89343B;
}

.request .fileUpload .imageUpload {}

.request .fileUpload .deleteIcon img {
    height: 2rem;
    width: auto;
    background-color: #89343B;
    border-radius: 5px;
    cursor: pointer;
}

.request .imageUpload input[type=file] {
    display: none;
}

.request .imageUpload label img {
    height: 2rem;
    width: auto;
    background-color: #399918;
    border-radius: 5px;
    cursor: pointer;
}


.request form input[type=text]:disabled {
    background-color: #dddddd;
}

.request form .btnArea {
    display: flex;
    gap: 1rem;
}

.request form .btnArea button {
    cursor: pointer;
}

.request form .btnArea .clearBtn {
    padding: 0.5rem 1rem;
    color: #424242;
    background-color: #F1F4F8;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    font-size: 1.2rem;
    width: auto;
}

.request form .btnArea .submitBtn {
    padding: 0.5rem 1rem;
    color: #e6e6e6;
    background-color: rgba(154, 35, 35);
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    font-size: 1.2rem;
    width: auto;
}

.submitBtn:hover {
    background-color: rgb(183, 45, 45);
}

.request .required {
    color: #ff0000;
}