.notificationContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 100px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 340px;
  height: fit-content;
  border-radius: 6px;
  z-index: 1000; 
}

.notificationContainer .title{
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 10px;
  box-sizing: border-box;
}

.notificationContainer .title img{
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.notificationsRow{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  flex: 0 1;
  max-width: 318px;
  width: 100%;
}

.notificationItems{
  display: flex;
  flex-direction: column;
  max-height: 400px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.inboxImage{
  padding: 5px;
}

.inboxImage:hover{
  display: flex;
  cursor: pointer;
  background-color: rgba(240, 149, 59, 0.29);
  border-radius: 50%;
  padding: 5px;
}

.notificationsRow img{
  height: 35px;
  width: 35px;
  padding:5px;
  border-radius: 50%;
  object-fit: cover;
}


.notificationsRow p, .notificationsRow span{
  font-weight: 600;
  font-size: 12px;
}

.parentRow{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 10px;
  max-width: 318px;
  width: 100%;
}

.childRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  max-width: 318px;
  width: 100%;
}

.childRow .message{
  flex: none;
  max-width: 100px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.childRow .chatDuration{
  flex-shrink: 0;
  align-self: flex-end;
}


.childRow span{
  font-size: 9px;
  font-weight: 600;
  color: #484444;
}

.notificationsRow .accepted{
  color: #2BA437;
}

.notificationsRow:hover{
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  cursor: pointer;
}

.badgeContainer {
  color: white;
  display: inline-block;
  position: relative; 
  padding: 2px 5px; 
}

.badge {
  /* circle shape, size and position */
  position: absolute;
  right: -0.2em;
  top: -0.3em;
  min-width: 1.6em;
  height: 1.6em;
  border-radius: 100px; 
  background-color: #fa3e3e;

  /* number size and position */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: white;
}

.unreadIndicator {
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background-color: #fa3e3e;
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 40px;
}


.allMessages{
  display: flex;
  bottom: 0;
  padding: 10px;
  border-radius: 6px;
  align-items: center;
  height: 25px;
  justify-content: center;
  background-color: rgba(154, 35, 35);
  color: white;
  z-index: 1000;
  margin-top: 10px;
}

.seeAll a{
  color: white;
  text-decoration: none;
}

.allMessages:hover{
  cursor: pointer;
  background-color: rgb(183, 45, 45);
}

.notificationItems::-webkit-scrollbar {
  width: 8px;
}

.notificationItems::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.notificationItems::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}