.selectArea {
  width: 100%;
  display: flex;

}

.selectArea h1 {
  color: #424242;
  font-size: 2rem;
  margin: 0;
}

.selectArea select {
  margin-left: auto;
  cursor: pointer;
}

.selectArea select option {
  cursor: pointer;
}